<template>
    <v-container>
        <v-row>
            <v-col class="text-center">
                <v-text-field
                        clearable
                        clear-icon="mdi-close"
                        type="number"
                        outlined
                        class="mx-2"
                        label="Фильтрация по цене"
                        rows="1"
                        prepend-icon="mdi-cash"
                        v-model="priceFilter"
                ></v-text-field>
                <v-data-table no-data-text="Нет подходящих отелей"
                              :headers="headers"
                              :items="hotelsList"
                              :items-per-page="10"
                              class="elevation-1 text-left"
                >
                    <template v-slot:item.name="{ item }">
                        {{ item.name}}
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-chip v-show="item.id === chosenHotelId" outlined color="green ml-2" v-on="on">
                                    <v-icon color="green">mdi-check-circle-outline</v-icon>
                                </v-chip>
                            </template>
                            <span>Текущий выбор</span>
                        </v-tooltip>
                    </template>
                    <template v-slot:item.price="{ item }">
                        <v-icon color="green" left>mdi-cash</v-icon>
                        {{ item.price }}
                    </template>
                    <template v-slot:item.popularity="{ item }">
                        <v-icon left>mdi-thumb-up-outline</v-icon>
                        {{ item.popularity}}
                    </template>
                    <template v-slot:item.stars="{ item }">
                        <v-icon color="yellow" left>mdi-star</v-icon>
                        {{ item.stars}}
                    </template>
                    <template v-slot:item.options="{ item }">
                        <v-btn text color="primary" small @click="chooseHotel(item.id)">Выбрать</v-btn>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

    import {mapGetters} from 'vuex'
    export default {
        name: "HotelsList",
        data(){
            return{
                priceFilter: null,
                hotelsList: [],
                headers: [
                    { text: 'Отель', value: 'name' },
                    { text: 'Цена', value: 'price' },
                    { text: 'Популярность', value: 'popularity' },
                    { text: 'Звёзды', value: 'stars' },
                    { text: 'Действия', value: 'options' },
                ],
            }
        },
        watch: {
            priceFilter(val) {
                const newHotelsList = []
                if (val) {
                    Object.keys(this.hotels).forEach(key => {
                        if (this.hotels[key].price <= Number(val)) {
                            newHotelsList.push(this.hotels[key])
                        }
                    })
                    this.hotelsList = newHotelsList
                } else {
                    this.hotelsList = this.hotels
                }
            },
        },
        computed: {
            ...mapGetters([
                'hotels',
                'chosenHotelId'
            ]),

        },
        methods: {
            chooseHotel(id) {
                this.$store.dispatch('chooseHotel', id).then(() => {
                    this.$router.push(`/Reservation/${id}`)
                })
            },
        },
        mounted() {
            this.hotelsList = this.hotels
        }
    }
</script>

<style scoped>

</style>