<template>
    <v-container>
        <v-row>
            <v-col class="text-center">
                <h1>Спасибо за использование нашего сервиса. Ваше бронирование в {{hotel.name}} подтверждено</h1>
                <router-link class="pt-2" to="/">Назад к списку отелей</router-link>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

    export default {
        name: "Reservation",
        props: ['id'],
        computed: {
            hotel () {
                const id = Number(this.id)
                return this.$store.getters.hotelById(id)
            },
        },
    }
</script>

<style scoped>

</style>