<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-items>
        <v-btn to="/" class="ml-3" text>
          Home
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-content>
        <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
};
</script>
